.team .over {
	width: 75%;
	margin: 0px auto 40px;
}

.team .narrow > div:first-child {
	width: 75%;
	margin: 0px auto 40px;
}

.team .narrow .over {
	width: 100%;
}

.team .over img {
	width: 100%;
	display: block;
}

a.over {
	display: block;
	position: relative;
}

a.over .overlay {
	position: absolute;
	display: table-cell;
	left: 0px;
	top: 0px;
	background: rgba(54,208,119, 0.6);
	height: 100%;
	line-height: 197px;
	width: 100%;
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	text-align: center;
	color: #fff;
	font-size: 40px;
	vertical-align: middle;
}

.team img.teamImage {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.team .narrow img.teamImage {
	width: 100%;
}

.team .narrow .over .overlay {
	line-height: 270px;
}

a.over:hover .overlay {
	visibility:visible;	
	opacity:1;
	transition-delay:0s;
}

.team .social a {
	color: #999;
	transform: color 1s;
	font-size: 24px;
}

.team .narrow .social {
	text-align: right;
}

.team .social a:hover {
	color: #16A085;
}

.team .narrow .social a {
	color: #16A085;
	font-size: 26px;
}

.team .social a:hover {
	color: #16A085;
}

.team .photo {
	width: 25%;
	margin-right: 20px;
}

.team .photo img {
	width: 100%;
}

.team .about {
	width: 65%;
}

.team .about h5 {
	margin-top: 0px;
}

.team .contacts {
	font-size: 13px;
	color: #000;
}

.team .contacts a {
	color: #000;
	text-decoration: underline;
}

.team .contacts span {
	color: #16A085;
	margin-right: 5px;
	font-size: 12px;
}