.col > a img {
	width: 70%;
	display: block;
	margin: 0px auto 40px;
}

.col h3 a {
	color: #3D566E;
}

.col b {
	color: #999;
}

a.over {
	display: block;
	position: relative;
}

a.over .overlay {
	position: absolute;
	display: table-cell;
	left: 0px;
	top: 0px;
	background: rgba(233,139,57, 0.6);
	height: 100%;
	line-height: 263px;
	width: 100%;
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	text-align: center;
	color: #fff;
	font-size: 50px;
	vertical-align: middle;
}

a.over.round .overlay {
	border-radius: 50%;
	background: rgba(61,86,110, 0.6);
}

a.over:hover .overlay {
	visibility:visible;
	  opacity:1;
	  transition-delay:0s;
}