@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,500,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);



/* -----------------------------------
** GENERAL
** ----------------------------------- */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#4f4f4f;
}

.main-wrapper {
	min-height:100%;
	position:relative;
}

.container { max-width:980px; padding:0px; }

@media (max-width: 767px) {
	.container { padding:0px 15px; }
}

.row { margin-left: 0px; margin-right: 0px;}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h5 {
	margin:0 0 10px;
	font-weight:300;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h5 a {
	font-weight: 300;
}

h1 {
	margin-bottom: 35px;
}

.full-width { width:100%; }

a {
	color: #3e9ba6;
	text-decoration: none;
}
a:hover, a:focus {
	color: #237d87;
	text-decoration: none;
}



/* -----------------------------------
** BUTTON
** ----------------------------------- */
.btn {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.btn-default {
	background: transparent;
	border: 2px solid #3e9ba6;
}
.btn-default:hover,
.btn-default:focus {
	background: rgba(255,255,255,0.3);
	border: 2px solid #237d87;
}

.btn-primary {
	background: #61bbc6;
	border-color: #61bbc6;
}
.btn-primary:hover,
.btn-primary:focus {
	background: #54abb5;
	border-color: #54abb5;
}

.btn-success {
	background: #a3cf76;
	border-color: #a3cf76;
}
.btn-success:hover,
.btn-success:focus {
	background: #98c26c;
	border-color: #98c26c;
}

.btn-info {
	background: #a8d8de;
	border-color: #a8d8de;
}
.btn-info:hover,
.btn-info:focus {
	background: #90c1c7;
	border-color: #90c1c7;
}

.btn-warning {
	background: #f0ad4e;
	border-color: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:focus {
	background: #e5a345;
	border-color: #e5a345;
}

.btn-danger {
	background: #d44434;
	border-color: #d44434;
}
.btn-danger:hover,
.btn-danger:focus {
	background: #c03b2c;
	border-color: #c03b2c;
}





/* -----------------------------------
** HOMEPAGE
** ----------------------------------- */
.home-header {
	height:550px;
	background: #d7eef3 url(../img/bg_jakarta_city.png) no-repeat left bottom;
	padding: 100px 0px;
}
.jumbo-lead {
	margin-top: 40px;
	margin-bottom: 40px;
}
.jumbo-lead h1 {
	font-size: 30px;
	line-height: 38px;
}


.home-content {
	background: #655f66;
	padding-top: 150px;
	padding-bottom: 50px;
	color: #ffffff;
	font-size: 16px;
}


.home-footer {
	background: #655f66 url(../img/bg_footer.png) no-repeat center bottom;
	padding-top:330px;
	color: #ffffff;
	padding-bottom: 30px;
}



/* -----------------------------------
** NAVBAR
** ----------------------------------- */
.navbar {
	-webkit-transition: background-color 300ms ease-out 0.1s;
    -moz-transition: background-color 300ms ease-out 0.1s;
    -o-transition: background-color 300ms ease-out 0.1s;
    transition: background-color 300ms ease-out 0.1s;
    height: 50px;
    padding: 0px;
}
.navbar .navbar-brand {
	font-size: 30px;
	line-height: 50px;
	padding: 0px;
	height: 50px;
}
.navbar .navbar-nav li a:hover {
	background: #e0f1f5;
}
.navbar-default {
	background: #ebf7fa;
	border-bottom: 0px;
}
