<IfModule mod_rewrite.c>
	# Turn on URL rewriting
	RewriteEngine On
	DirectoryIndex index.php index.html

	# Option 2: To rewrite "domain.com -> www.domain.com" uncomment the following lines.
	# RewriteCond %{HTTPS} !=on
	# RewriteCond %{HTTP_HOST} !^www\..+$ [NC]
	# RewriteCond %{HTTP_HOST} (.+)$ [NC]
	# RewriteRule ^(.*)$ http://www.%1/$1 [R=301,L]

	# Allow all files that not exists, be called by index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !\.php$
	RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico)
	RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>

