/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: Feedo - Free Bootstrap Theme
 * Version: 1.0
 * URL: http://blacktie.co/
 */
 
 /* FONTS */
 @font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(../fonts/OpenSansLight-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(../fonts/OpenSans-Italic.woff) format('woff');
}

/* OVERALL ASPECT */
html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #555;
  min-height: 640px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
h1 {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 10px 0;
  text-transform: uppercase;
}

/* Paragraph & Typographic */
p {
  line-height: 24px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

.goleft {
	text-align: left;
}

.navbar-brand {
  font-size: 40px !important;
  text-transform: uppercase;
  font-weight: bold;
  color: #555 !important;
  margin-bottom: 30px;
}
.navbar-brand:hover {
  color: #555 !important;
}

/* Links */
a {
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #8EC63F;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.mb10 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.centered {
	text-align: center;
}

/* CONFIGURATION FOR Feedo */

.site {
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #2f2f2f;
}
.site-title {
	background: #7f7ea8;
	margin-left: -15px;
	margin-right: -15px;
	padding: 20px;
}

.site-title h2 {
	font-weight: 400;
	color: white;
	text-align: center;
}

.site-footer {
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
}

.post {
	display: block;
	padding-top:15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.post .pull-right {
	margin-top: -15px;
}

.post .glyphicon {
	font-size: 24px;
	color: #7f7ea8
}


/*SIdebar*/
.sidebar .nav-stacked {
  /*border-right: 1px solid #aaa;*/
  margin-right: -15px;
  margin-left: -15px;
}
.sidebar .nav-stacked > li {
  margin: 0;
  position: relative;
}
.sidebar .nav-stacked > li.active > a {
  background-color: white;
  /*font-size: 28px;*/
  border-radius: 0;
  color: rgb(3, 31, 3);
  text-shadow:rgba(0, 0, 0, 0.3) 1px 1px 1px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.980392) 0px 5px 0px 0px;
  -moz-box-shadow:rgba(0, 0, 0, 0.980392) 0px 5px 0px 0px;
  box-shadow:rgba(0, 0, 0, 0.980392) 0px 5px 0px 0px;
}
.sidebar .nav-stacked > li.active > a:hover {
  background-color: white;
  color: #444;
}
.sidebar .nav-stacked > li > a {
  padding: 10px 20px 10px 20px;
  font-size: 12px;
  text-align: center;
  color:  #E4FFBE;
  transition: .2s;
  text-shadow:rgba(0, 0, 0, 0.8) 1px 1px 1px;
}
.sidebar .nav-stacked > li > a >span.fa {
  font-size: 32px;
}
.sidebar .nav-stacked li > ul > li > a {
  padding: 8px 10px;
  font-size: 15px;
  color:  #8EC63F;
  transition: .2s;
  display: block;
  text-shadow:rgba(0, 0, 0, 0.8) 1px 1px 1px;
}
.sidebar .nav-stacked > li > a:hover,
.sidebar .nav-stacked li > ul > li > a:hover {
  background-color: transparent;
  color: #fff;
}

.sidebar .nav-stacked li ul {
  display: none;
  position: absolute;
  right: -200px;
  top: 0;
  background-color: rgb(3, 31, 3);
  width: 200px;
  z-index: 10;
  list-style: none;
  padding: 5px 0 5px 10px;
  border-radius: 0 5px 5px 0;
}
.sidebar .nav-stacked li:hover ul {
  display: block;
}
.sidebar .nav-stacked li.active:hover ul {
  display: none;
}

/*Helper*/

.font-white{
  color:white;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}

.content {
  padding: 10px;
}
article.the-content {
  margin-bottom: 30px;
  padding-bottom: 40px !important;
  border-bottom: 4px solid lightsteelblue;
}

.the-content ul {
  padding: 0 20px;
  margin-bottom: 25px;
}

.the-content ul li {
  margin-bottom: 5px;
}

.label a {
  color: white;
}

.pusaka-header {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F1C40F),
    color-stop(1, #F08A0E)
    );
  background-image: -o-linear-gradient(bottom, #F1C40F 0%, #F08A0E 100%);
  background-image: -moz-linear-gradient(bottom, #F1C40F 0%, #F08A0E 100%);
  background-image: -webkit-linear-gradient(bottom, #F1C40F 0%, #F08A0E 100%);
  background-image: -ms-linear-gradient(bottom, #F1C40F 0%, #F08A0E 100%);
  background-image: linear-gradient(to bottom, #F1C40F 0%, #F08A0E 100%);
}
.header-inner {
 color: #ffffff;
 padding-top: 80px;
 padding-bottom: 80px;
 background: #8ec63f url(../img/corak_batik.png) no-repeat right bottom;
}
.pusaka-header .lead {
  color: #ffffff;
  margin-bottom: 50px;
}
.pusaka-header .link-wrapper {
  margin-top: 50px;
}
.pusaka-header .link-wrapper a {
  color: #ffffff;
  margin: 0px 15px;
}

.button-bar {
  margin-bottom: 40px;
}

.btn-download {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.btn-download:hover,
.btn-download:focus {
  background: #ffffff;
  border: 1px solid #ffffff;
  color: #f39c12;
}

.pusaka-features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pusaka-footer {
  font-size: 12px;
  padding: 10px 0px;
  margin-top: 40px;
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.side-panel {
  position: relative;
  background: rgb(3, 31, 3);
  height: 100%;
  -webkit-box-shadow:rgba(0, 0, 0, 0.498039) -5px 0px 0px 0px inset;
  -moz-box-shadow:rgba(0, 0, 0, 0.498039) -5px 0px 0px 0px inset;
  box-shadow:rgba(0, 0, 0, 0.498039) -5px 0px 0px 0px inset;
}

ul.content-list {
  margin: 20px 0;
}
ul.content-list .row {
  /*border-bottom: 1px solid #ddd;*/
}
ul.content-list li {
  margin-bottom: -1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
ul.content-list li .list-desc {
  padding: 10px 10px 0;
}
ul.content-list li .list-desc:hover {
  background: #fafafa;
}
ul.content-list a {
  color: #666;
}
ul.content-list small {
  font-size: 13px;
  font-style: italic;
}
ul.content-list h4 {
  margin: 0;
}
ul.content-list .option {
  margin-top: 10px;
  margin-bottom: 5px;
}
ul.content-list .option a {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  vertical-align: middle;
}
ul.content-list .option a.edit:hover {
  color: #8EC63F;
}
ul.content-list .option a.add:hover {
  color: steelblue;
}
ul.content-list .option a.remove:hover {
  color: darkred;
}

ul.content-list ul.children {
  border-left: 30px solid #eee;
  display: none;
}

.form-group label small {
  color: #aaa;
  font-style: italic;
}
