<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');

/*
|--------------------------------------------------------------------------
| Site Config
|--------------------------------------------------------------------------
*/

$config['site_title'] 		= 'Pusaka';
$config['site_slogan'] 		= 'Just a Simple File-based CMS';

$config['theme'] 		= 'keris';
$config['post_as_home']		= FALSE;

$config['page_folder']		= 'content/pages';
$config['post_folder']		= 'content/posts';
$config['label_folder']		= 'content/labels';
$config['post_term']		= 'blog';
$config['post_per_page']	= 10;

// site metadata
$config['meta_description']	= "";
$config['meta_keywords']	= "";