{
	"site_name" : "Pusaka",
	"site_slogan" : "Just a Simple File-based CMS",

	"theme" : "keris",
	"post_as_home": false,
	"post_term": "blog",
	"post_per_page": 10,
	
	"meta_description": "", 
	"meta_keywords": "", 
	
	"page_folder": "pages",
	"post_folder": "posts",
	"label_folder": "labels"
}