@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,500,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);



/* -----------------------------------
** GENERAL
** ----------------------------------- */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#4f4f4f;
}

.main-wrapper {
	min-height:100%;
	position:relative;
}

.container { max-width:980px; padding:0px; }
.row { margin-left: 0px; margin-right: 0px;}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h5 {
	margin:0 0 10px;
	font-weight:300;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h5 a {
	font-weight: 300;
}

h1 {
	margin-bottom: 35px;
}

.full-width { width:100%; }



/* ----------------------------------------------
** SPACE
** ---------------------------------------------- */
.margin-null-top { margin-top: 0px; }
.margin-xs-top { margin-top: 5px; }
.margin-sm-top { margin-top: 10px; }
.margin-md-top { margin-top: 15px; }
.margin-lg-top { margin-top: 30px; }
.margin-xl-top { margin-top: 60px; }

.margin-null-bottom { margin-bottom: 0px; }
.margin-xs-bottom { margin-bottom: 5px; }
.margin-sm-bottom { margin-bottom: 10px; }
.margin-md-bottom { margin-bottom: 15px; }
.margin-lg-bottom { margin-bottom: 30px; }
.margin-xl-bottom { margin-bottom: 60px; }

.margin-null-left { margin-left: 0px; }
.margin-xs-left { margin-left: 5px; }
.margin-sm-left { margin-left: 10px; }
.margin-md-left { margin-left: 15px; }
.margin-lg-left { margin-left: 30px; }
.margin-xl-left { margin-left: 60px; }

.margin-null-right { margin-right: 0px; }
.margin-xs-right { margin-right: 5px; }
.margin-sm-right { margin-right: 10px; }
.margin-md-right { margin-right: 15px; }
.margin-lg-right { margin-right: 30px; }
.margin-xl-right { margin-right: 60px; }

.margin-null { margin: 0px; }
.margin-xs { margin: 5px; }
.margin-sm { margin: 10px; }
.margin-md { margin: 15px; }
.margin-lg { margin: 30px; }
.margin-xl { margin: 60px; }

.margin-null-x { margin-left: 0px; margin-right: 0px; }
.margin-xs-x { margin-left: 5px; margin-right: 5px; }
.margin-sm-x { margin-left: 10px; margin-right: 10px; }
.margin-md-x { margin-left: 15px; margin-right: 15px; }
.margin-lg-x { margin-left: 30px; margin-right: 30px; }
.margin-xl-x { margin-left: 60px; margin-right: 60px; }

.margin-null-y { margin-top: 0px; margin-bottom: 0px; }
.margin-xs-y { margin-top: 5px; margin-bottom: 5px; }
.margin-sm-y { margin-top: 10px; margin-bottom: 10px; }
.margin-md-y { margin-top: 15px; margin-bottom: 15px; }
.margin-lg-y { margin-top: 30px; margin-bottom: 30px; }
.margin-xl-y { margin-top: 60px; margin-bottom: 60px; }


.sparator-xs { height: 5px; }
.sparator-sm { height: 10px; }
.sparator-md { height: 15px; }
.sparator-lg { height: 30px; }
.sparator-xl { height: 60px; }

.margin-min-xs-top { margin-top: -5px; }
.margin-min-sm-top { margin-top: -10px; }
.margin-min-md-top { margin-top: -15px; }
.margin-min-lg-top { margin-top: -30px; }
.margin-min-xl-top { margin-top: -60px; }



/* ----------------------------------------------
** PADDING
** ---------------------------------------------- */
.padding-xs-top { padding-top: 5px; }
.padding-sm-top { padding-top: 10px; }
.padding-md-top { padding-top: 15px; }
.padding-lg-top { padding-top: 30px; }
.padding-xl-top { padding-top: 60px; }

.padding-xs-bottom { padding-bottom: 5px; }
.padding-sm-bottom { padding-bottom: 10px; }
.padding-md-bottom { padding-bottom: 15px; }
.padding-lg-bottom { padding-bottom: 30px; }
.padding-xl-bottom { padding-bottom: 60px; }

.padding-xs-left { padding-left: 5px; }
.padding-sm-left { padding-left: 10px; }
.padding-md-left { padding-left: 15px; }
.padding-lg-left { padding-left: 30px; }
.padding-xl-left { padding-left: 60px; }

.padding-xs-right { padding-right: 5px; }
.padding-sm-right { padding-right: 10px; }
.padding-md-right { padding-right: 15px; }
.padding-lg-right { padding-right: 30px; }
.padding-xl-right { padding-right: 60px; }

.padding-xs { padding: 5px; }
.padding-sm { padding: 10px; }
.padding-md { padding: 15px; }
.padding-lg { padding: 30px; }
.padding-xl { padding: 60px; }

.padding-null-x { padding-left: 0px; padding-right: 0px; }
.padding-xs-x { padding-left: 5px; padding-right: 5px; }
.padding-sm-x { padding-left: 10px; padding-right: 10px; }
.padding-md-x { padding-left: 15px; padding-right: 15px; }
.padding-lg-x { padding-left: 30px; padding-right: 30px; }
.padding-xl-x { padding-left: 60px; padding-right: 60px; }

.padding-null-y { padding-top: 0px; padding-bottom: 0px; }
.padding-xs-y { padding-top: 5px; padding-bottom: 5px; }
.padding-sm-y { padding-top: 10px; padding-bottom: 10px; }
.padding-md-y { padding-top: 15px; padding-bottom: 15px; }
.padding-lg-y { padding-top: 30px; padding-bottom: 30px; }
.padding-xl-y { padding-top: 60px; padding-bottom: 60px; }



/* -----------------------------------
** HOMEPAGE
** ----------------------------------- */
.home-header {
	height:550px;
	background: #d7eef3 url(../img/bg_jakarta_city.png) no-repeat left bottom;
	padding: 100px 0px;
}
.jumbo-lead {
	margin-top: 40px;
	margin-bottom: 40px;
}
.jumbo-lead h1 {
	font-size: 30px;
	line-height: 38px;
}


.home-content {
	background: #655f66;
	padding-top: 150px;
	padding-bottom: 150px;
	color: #ffffff;
	font-size: 16px;
}

