/* Green */


/* -----------------------------------
** GENERAL
** ----------------------------------- */
body { color:#4f4f4f; }

a { color: #6aae3d; }
a:hover, a:focus { color: #4a8a22; }



/* -----------------------------------
** BUTTON
** ----------------------------------- */
.btn-default {
	border-color: #6aae3d;
	color: #6aae3d;
}
.btn-default:hover,
.btn-default:focus {
	border-color: #4a8a22;
	color: #4a8a22;
}

.btn-border {
	border-color:  #6aae3d;
	color: #6aae3d;
}
.btn-border:hover,
.btn-border:focus {
	border-color: #4a8a22;
	color: #4a8a22;
}
.btn-primary {
	background: #a3cf76;
	border-color: #a3cf76;
}
.btn-primary:hover,
.btn-primary:focus {
	background: #98c26c;
	border-color: #98c26c;
}



/* -----------------------------------
** NAVBAR
** ----------------------------------- */
.navbar { background: #c3f0a5; }
.navbar .navbar-nav li a { color: #6aae3d; }
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
	background: #bce79f;
}
.navbar .navbar-nav li.active a { color: #6aae3d; }
.navbar-default { background: #c3f0a5; }




/* -----------------------------------
** HOMEPAGE
** ----------------------------------- */
.home-header { background: #c3f0a5 url(../img/bg_jakarta_city_dark.png) no-repeat left bottom; }
.home-content {
	background: #4d4645;
	color: #ffffff;
}
.home-footer {
	background: #4d4645 url(../img/bg_footer_green.png) no-repeat center bottom;
	color: #ffffff;
}




/* -----------------------------------
** BLOG
** ----------------------------------- */
.blog-header {
	background: #4d4645;
	color: #f8e9ed;
}
.blog-content .the-content { border-color: #f5f5f5; }
.blog-content .the-content .date { color: #a7a7a7; }
.blog-content .the-content .cat { border-color: #f0f0f0; }
.blog-content .the-content .cat a { background: #f9fbfb; }
.blog-content .the-content .cat a:focus,
.blog-content .the-content .cat a:hover { background: #f2f8f9; }




/* -----------------------------------
** PAGINATION
** ----------------------------------- */
.pagination li a {
	color: #cccccc;
	background: #ffffff;
}
.pagination li a:hover,
.pagination li a:focus {
	color: #b9baba;
	background: #f4f9fa;
}
.pagination li.active a,
.pagination li.active a:hover {
	background: #6aae3d;
	border-color: #6aae3d;
}




/* -----------------------------------
** 404
** ----------------------------------- */
.notfound-wrapper {
	background: #605d5d url(../img/bg_jakarta_city_dark.png) no-repeat left bottom;
	color: #f8e9ed;
}