/* Blue */


/* -----------------------------------
** GENERAL
** ----------------------------------- */
body { color:#4f4f4f; }

a { color: #61bbc6; }
a:hover, a:focus { color: #54abb5; }



/* -----------------------------------
** BUTTON
** ----------------------------------- */
.btn-default {
	border-color: #3e9ba6;
	color: #3e9ba6;
}
.btn-default:hover,
.btn-default:focus {
	border-color:  #237d87;
	color: #237d87;
}

.btn-border {
	border-color:  #61bbc6;
	color: #61bbc6;
}
.btn-border:hover,
.btn-border:focus {
	border-color: #54abb5;
	color: #54abb5;
}



/* -----------------------------------
** NAVBAR
** ----------------------------------- */
.navbar { background: #d7eef3; }
.navbar .navbar-nav li a { color: #61bbc6; }
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus {
	background: #e0f1f5;
}
.navbar .navbar-nav li.active a { color: #d44434; }
.navbar-default { background: #ebf7fa; }



/* -----------------------------------
** HOMEPAGE
** ----------------------------------- */
.home-header { background: #d7eef3 url(../img/bg_jakarta_city.png) no-repeat left bottom; }
.home-content {
	background: #655f66;
	color: #ffffff;
}
.home-footer {
	background: #655f66 url(../img/bg_footer_blue.png) no-repeat center bottom;
	color: #ffffff;
}




/* -----------------------------------
** BLOG
** ----------------------------------- */
.blog-header {
	background: #655f66;
	color: #e9f6f8;
}
.blog-content .the-content { border-color: #f5f5f5; }
.blog-content .the-content .date { color: #a7a7a7; }
.blog-content .the-content .cat { border-color: #f0f0f0; }
.blog-content .the-content .cat a { background: #f9fbfb; }
.blog-content .the-content .cat a:focus,
.blog-content .the-content .cat a:hover { background: #f2f8f9; }




/* -----------------------------------
** PAGINATION
** ----------------------------------- */
.pagination li a {
	color: #cccccc;
	background: #ffffff;
}
.pagination li a:hover,
.pagination li a:focus {
	color: #b9baba;
	background: #f4f9fa;
}
.pagination li.active a,
.pagination li.active a:hover {
	background: #61bbc6;
	border-color: #61bbc6;
}




/* -----------------------------------
** 404
** ----------------------------------- */
.notfound-wrapper {
	background: #807d81 url(../img/bg_jakarta_city.png) no-repeat left bottom;
	color: #e9f6f8;
}